*,
::before,
::after {
background: linear-gradient(#0668b3, #0f8d43);
}
body{
    color: white;
}
.windy-picture{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.heat-image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.cloud-image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
